<div class="panel panel-default">
  <div class="panel-heading">Editar conta</div>

  <div class="panel-body">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <p><%= f.error_notification %></p>

      <p><%= f.input :name %></p>
      <p><%= f.input :email %></p>

      <div class="alert alert-warning" role="alert">
        <p>Deixe em branco se não quiser alterar sua senha</p>
      </div>

      <p><%= f.input :password %></p>
      <p><%= f.input :password_confirmation %></p>

      <hr>

      <p><%= f.input :current_password %></p>

      <p><%= f.button :submit, class: "btn btn-success" %></p>
    <% end %>
  </div>
</div>