<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li role="presentation" class="<%= current_page(new_deposit_path) %>">
      <%= link_to "Efetuar depósito", new_deposit_path %>
    </li>

    <% if bank_account_signed_in? %>
      <li role="presentation" class="<%= current_page(new_withdrawal_path) %>">
        <%= link_to "Efetuar saque", new_withdrawal_path %>
      </li>

      <li role="presentation" class="<%= current_page(new_transfer_path) %>">
        <%= link_to "Efetuar transferência", new_transfer_path %>
      </li>

      <li role="presentation">
        <%= link_to "Extrato", "#" %>
      </li>

      <li role="presentation" class="<%= current_page(balances_path) %>">
        <%= link_to "Exibir saldo", balances_path %>
      </li>

      <li role="presentation">
        <%= link_to "Encerrar conta", deactivate_bank_account_path(current_bank_account), method: :put, data: { confirm: "Tem certeza que deseja encerrar sua conta?" } %>
      </li>
    <% end %>
  </ul>
</div>