<div class="panel panel-default">
  <div class="panel-heading"><strong>Efetuar depósito</strong></div>

  <div class="panel-body">
    <%= simple_form_for @deposit do |f| %>
      <%= f.error_notification %>

      <%= f.input :value %>
      <%= f.input :account_number %>

      <%= f.button :submit, "Fazer depósito", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
