<div class="panel panel-default">
  <div class="panel-heading"><strong>Efetuar depósito</strong></div>

  <div class="panel-body">
    <%= simple_form_for @deposit do |f| %>
      <%= f.error_notification %>

      <%= f.input :current_bank_account_id, as: :hidden, input_html: { value: current_bank_account.id } %>

      <div class="row">
        <div class="col-md-2">
          <%= f.input :value, placeholder: "R$" %>
        </div>

        <div class="col-md-2">
          <%= f.input :account_number %>
        </div>
      </div>

      <%= f.button :submit, class: "btn btn-success" %>
    <% end %>
  </div>
</div>
