<ul>
  <li><%= link_to "Efetuar depósito", new_deposit_path %></li>
</ul>

<% if bank_account_signed_in? %>
  <ul>
    <li><%= link_to "Efetuar saque", "#" %></li>
    <li><%= link_to "Efetuar transferência", "#" %></li>
    <li><%= link_to "Extrato", "#" %></li>
    <li><%= link_to "Exibir saldo", "#" %></li>
  </ul>

  <ul>
    <li><%= link_to "Editar conta", edit_bank_account_registration_path %></li>
    <li><%= link_to "Encerrar conta", edit_bank_account_registration_path %></li>
    <li><%= link_to "Sair", destroy_bank_account_session_path, method: :delete %></li> 
  </ul>
<% else %>
  <ul>
    <li><%= link_to "Abrir uma conta", new_bank_account_registration_path  %></li>
    <li><%= link_to "Acessar conta", new_bank_account_session_path  %></li>
  </ul>
<% end %>