<!DOCTYPE html>
<html>
  <head>
    <title>TesteIntegraGrp</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>

    <%= render "layouts/menu" %>

    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
